@charset "UTF-8";
/* CSS Document */

/* INTRO ---------------------- */

.intro header {
    color: #fff;
}


.logo-intro span {
    display:block;
}

.intro .section-title {
    color:#fff;
}
.intro-doc.active {
    display:block;
    opacity:1;
     display:none;
}

.intro-doc.colapsed {
    display:none;
}
.intro-doc .intro-title {
    line-height: 100%;
    text-transform: uppercase;
    font-size: 3rem;
    color:#e2b978;
    text-align:center;
    width:100%;
    position:absolute;
    z-index:2;
    width:100%;
    top:28vh;
    
}
.intro-doc .close {
    z-index:3;
    top:0;
}
.swiper-intro li {
    font-size: calc(1rem + 1vw);
    color: #fff;
    display: flex;
    height:var(--window-height);
    padding-left:var(--general-left);
    padding-top: calc(((3rem + 3vw) * 2.8) + ((1.2rem + 1.2vw) * 2.5));
    padding-right:var(--general-left);
    background-color: #1d1a1a;
    z-index: 0;

}
.swiper-intro li span {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    background-image:url("../images/bg-bombes-01.jpg");
    background-size:cover;
    background-position:center 38px;
    background-repeat: no-repeat;
    transition:opacity 1s;
     -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
    -ms-filter: sepia(100%);
    -o-filter: sepia(100%);
    filter: sepia(100%);
}
.intro .swiper-slide .claim {
  
        font-family: 'Merriweather', serif;
}
.swiper-intro .swiper-pagination-detail {
    position: fixed;
    top: 100vw;
    transform: translateY(-50%);
    bottom: auto;
    display: flex;
    display:none;
}
.swiper-intro .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    
    background: #fff;
}
.swiper-intro .swiper-pagination-progressbar {
    background:#0000;
  
}

.swiper-intro .swiper-slide.swiper-slide-active{
  
    transition-duration: 3s !important;
}

.swiper-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    color: #fff;
    z-index:-1
}





.swiper-intro li.back-100 span {
    opacity:0;
}
.swiper-intro li.back-90 span {
    opacity:0.1;
}
.swiper-intro li.back-80 span {
    opacity:0.2;
}
.swiper-intro li.back-70 span {
    opacity:0.3;
}
.swiper-intro li.back-60 span {
    opacity:0.4;
}
.swiper-intro li.back-50 span {
    opacity:0.5;
}
.swiper-intro li.back-40 span {
    opacity:0.6;
}
.swiper-intro li.back-30 span {
    opacity:0.7;
}
.swiper-intro li.back-20 span {
    opacity:0.8;
}
.swiper-intro li.back-10 span {
    opacity:0.9;
}

.swiper-intro .claim p {
     margin-bottom:0.8rem;
    font-weight: 600;
max-width:90vw;
    margin-top:0;
}
.swiper-intro .claim p:nth-child(2) {
    font-weight: 300;
    font-size:0.75em;
    margin-top:0rem;
    line-height:140%;
}


@media (min-width: 414px) {

    .swiper-intro li {
		font-size: calc(1rem + 0.8vw);
        padding-top: calc(((3rem + 3vw) * 2.8) + ((1.2rem + 1.2vw) * 4));
    }
}
@media (min-width: 768px) {
	 .swiper-intro li {
			font-size: calc(1rem + 0.8vw);
			padding-top: calc(((3rem + 3vw) * 2.8) + ((1.2rem + 1.2vw) * 3));
		}
}
@media (min-width: 1360px) {
	 .swiper-intro li {
			font-size: calc(1rem + 0.8vw);
			padding-top: calc(((3rem + 3vw) * 2.8) + ((1.2rem + 1.2vw) * 2.7));
		}
	.intro .title-web {
		height: calc((3rem + 3vw) * 2.7);
	}
}
