/* Theme Name: Refugis
Text Domain: refugis bcn
Version: 0.9.0
Requires at least: 4.7
Requires PHP: 5.2.4
Author: Edittionarius SL
Author URI: https://edittio.com
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900&display=swap');
@import url("css/intro.css");

* {
    box-sizing: border-box;
}

*:focus {
    outline: none
}

body .ext-json {
    color: #dd5757 !important;}
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(29, 26, 26, 1)

}
.ol-attribution { /* ELIMINAR UAN TOM AS ELIMINI OBJECTE */
    display: none;
}

:root {
    --window-height-noresize: calc(var(--vh-noresize, 1vh) * 100);
    --window-height: calc(var(--vh, 1vh) * 100);
    --padding-top-section: calc(8rem + 3vw);
    --nav-buttons: calc(2.391rem + 1.3vw);
    --left-window: calc((0.3rem + 0.05vw) + 5vw);
    --general-left: calc(((1.1rem + 0.8vw) * 1.1) + (var(--left-window) + 0.4vw));
    --h-header-refugi: var(--h_header_refugi);
    --general-left: calc((0.3rem + 0.05vw) + 5vw);
    --font: calc(1rem + 1vw);

}

/* BASE ----------------------- */

section.intro, section.context, section.about, section.credits {
    display: none;
        margin-top: 0rem;
    margin-left: 0rem;
    padding-bottom: 3rem;
    height: calc(var(--window-height));
    width: calc(100%);
    background-color: #fff;
    position:fixed;
    z-index:3;
    overflow-y: auto;
}

/* HELP */

.help {
    background-color: #dd5757;
    border-radius: 100%;
    color: #fff;
    font-size: calc(var(--font) * 0.75);
    height: calc(var(--font) * 1.5) !important;
    width: calc(var(--font) * 1.5) !important;
    font-weight: 900;
    line-height: calc(var(--font) * 1.5) !important;
    text-align: center;
    z-index: 2;
    position: fixed;
    bottom: calc(var(--font) * 1);
    right: var(--left-window);
    cursor:pointer;  
}
.help-content .close {
    cursor:pointer;
    right: calc(var(--general-left));
    left:auto!important;
}
.help-content {
    height: 0vh;
    overflow:hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #dd5757;
    width: 100%;
    z-index: 4;
    color:#fff;
    padding-top: 0;   
    transition: height 0.6s, padding-top 0.6s;
        
}
.global-help .help-content {
    height:20vh;
    padding-top: calc(var(--general-left) * 0.5);
}
.help-content ol {
    margin-left: var(--general-left);
    padding-left: 0;
    list-style-position: inside;
    margin-top:0;
}
.help-content ol li { 
padding-top:0.5em;
    font-size: calc((var(--font) * 0.65));
}

.global-help .block-two:after, 
.global-help h2.section-title.sobre_mapa:after,
.global-help section.cerca .button-cerca:after,
.global-help h3.proposal span:after{
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    font-weight: normal;
    text-align: center;
    left: -1.3rem;
    text-indent:0;
    top: 0rem;
    width: 1rem;
    height: 1rem;
    font-size: 0.7rem;
    line-height: 1rem;
    position: absolute;
    background-color: #dd5757;
    border-radius: 100%;
    color: #fff;
    text-shadow: 0 0 black;
}
.global-help .block-two:after {
    content:"1";
} 
.global-help h2.section-title.sobre_mapa:after {
    content:"2";
}
.global-help section.cerca .button-cerca:after{
    content:"3";
}
.global-help h3.proposal span:after{
    content:"4";
}

/* LANG */

.wpml-ls-display {
    display:none;
}
.wpml-ls {
    font-weight: 700;
    font-size: calc(var(--font) * 0.75);
    padding:0!important;
    z-index:3;
}
.wpml-ls.active {
    display:block;
} 
.global .wpml-ls li{
    width:auto;
    font-weight:700;
}
.global .wpml-ls-legacy-list-horizontal>ul.active, .intro .language {
    width:auto;
    height:auto;
    position:absolute;
    right:calc(var(--general-left));
    top:var(--font);
    left:auto;
    line-height:100%;
}
.intro .language {
    top:calc(var(--font)*3);
}
.wpml-ls-legacy-list-horizontal a {
    display:inline!important;
    padding:0!important;
    color:#333;
}
.intro .language .wpml-ls-legacy-list-horizontal a  {
	color:#fff;
}
.wpml-ls-legacy-list-horizontal .wpml-ls-current-language a ,.intro .language .wpml-ls-legacy-list-horizontal .wpml-ls-current-language a{
    color:#dd5757;
}
.wpml-ls.negative a {
    filter:invert(1);
} 
.wpml-ls li:before{
    content:"/";
    display:inline;
}
.wpml-ls li:first-child:before{ 
    content:"";
}

/* BBL */
.inidcacions {
    text-transform: none;
    font-size: 0.8em;
    position: absolute;
    bottom: 1rem;
    padding-right: var(--general-left);
}
.inidcacions img {
    max-width: 300px;
    width: calc(10rem + 3vw);
}
/* BRAND */

#brand{
    width:100%;
    z-index: 1000;
    position: fixed;
    padding-left: 0;
    top:0vh;
    transition:top 0.6s;
}
#brand.inactive {
    top:-10vh;
}
/* END BRAND */


section.intro,  section.about, section.credits {
    z-index:3;
}

h1, h2, h3, h4, h5 {
    font-family: 'Source Sans Pro', sans-serif;
}

h2.section-title {
    display: block;
    color: #dd5757;
    font-size: calc(var(--font) * 0.9);
    letter-spacing: -0.04em;
    line-height: 85%;
    text-transform: uppercase;
    margin: 0;
    position: fixed;
    top: calc(var(--font) * 8);
    margin-left: var(--general-left);
    opacity: 1;
    z-index:3;
    transition: color 1s, z-index 0s 1s, opacity 0.6s, top 0.6s;
    text-shadow: -1px -1px 1px #fffa, 1px -1px 1px #fffa, -1px 1px 1px #fffa, 1px 1px 1px #fffa;
}

/* MEMORIA */

section.text_intro {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90vw;
    height: calc(var(--vh, 1vh) * 95);
    max-width: 1230px;
	padding:0;
    padding-left: calc(var(--font) * 1);
	padding-right: calc(var(--font) * 1);
	border-top:0;
	border-bottom: calc(var(--font) * 1) solid #000;
    font-size: clamp(1rem, 1vw, 1.3rem);
    line-height: 170%;
    font-family: 'Merriweather', serif;
    color: #fff;
    overflow: auto;
    z-index: -5;
  	opacity:0;
	display:block;
    background-color: #000;
   /* padding: var( --font); */
	transition: opacity 1s 1s,  top 0s 1s;
}
section.text_intro.active {
	opacity:0.95;
	z-index:105;
}
section.text_intro.open {
	top:-10000vh;
	z-index:105;
	transition: opacity 1s 0s,  top 0s 1s;
}
 .text_intro .text-block {
    font-size: calc(0.85rem + 0.2vw);
    line-height: 170%;
    padding-top: calc(var(--font) * 1);
  
}

section.text_intro h2 {
    text-transform: uppercase;
    font-size: calc(var(--font)* 1.5);
    margin-top: calc(var(--font)* 3);
	top:0;
	line-height: calc(var(--font) * 3.7);
	background:#000;
	margin-left:0;
	position:sticky;
	text-shadow: -1px -1px 1px #fff0, 1px -1px 1px #fff0, -1px 1px 1px #fff0, 1px 1px 1px #fff0;
	
}


.text_intro .close {
	top: calc(var(--font) * 1);
    right: 0rem;
    margin-left: auto;
    position: sticky;
	z-index:20;
    width: calc(var(--font) * 2);
    height: calc(var(--font) * 2);
}




body::-webkit-scrollbar {
    width: 0px;
}
body::-webkit-scrollbar-track {
  background: transparent; 
}
body::-webkit-scrollbar-thumb {
  background: transparent;
}
body::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}

.llista-propostes-descripcio::-webkit-scrollbar {
    width: 0.5rem;
}
 
.llista-propostes-descripcio::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.llista-propostes-descripcio::-webkit-scrollbar-thumb {
  background-color: #dd5757; 
    border-radius:0.25rem;
  outline: 1px solid slategrey;
}
  

h3.proposal{
position: fixed;
    margin: 0;
    font-size: calc(var(--font) * 0.75);
    top: calc(var(--font) * 14);
    left: var(--general-left);
    text-transform: uppercase;
    letter-spacing: -0.04em;
    line-height: 85%;
   z-index: 3;
    cursor:pointer;
    text-shadow: -1px -1px 1px #fffa, 1px -1px 1px #fffa, -1px 1px 1px #fffa, 1px 1px 1px #fffa;
}
h3.proposal span {
    display:block;
}
h3.proposal.active {
    color:#dd5757;
}
.proposal.active:before, .proposal.active:after {
        display: block;
    content: "";
    width: 0.85em;
    height: 0.2em;
    background-color: #dd5757;
    transform: translate(-50%,-50%) rotate(-45deg);
    position: absolute;
    top: 30%;
    left: -0.9em;
}
 .proposal.active:after {
      transform:translate(-50%,-50%) rotate(45deg);
}

    .llista-propostes {
        width: 100%;
        top:0;
        left:-100vw;
        padding-left: 0;
        background-color: #fff;
        z-index: 2;
        position: fixed;
        height: calc(var(--window-height) - 0rem);
        transition:left 0.6s;
    }
.llista-propostes ul {
    margin: 0;
    list-style: none;
    padding: 0;
    padding-right: calc(var(--font) * 1);
    padding-top: calc(var(--font) * 16);
    height: calc(var(--window-height) - 1rem);
    overflow: auto;
    background-color: #fff;
    padding-left: var(--general-left);
}
.llista-propostes.active {
    left:0;
}
.llista-propostes .nom {
    color: #222;
    margin: 0;
    position: relative;
    padding-bottom: 0.4em;
    font-size: calc(var(--font) * 0.75);
    line-height: 110%;
    font-weight: 700;
    padding-top: 0.4em;
    cursor:pointer;
    
    text-transform: uppercase;
    letter-spacing: -0.05em;
}
.llista-propostes li.active .nom {
    color:#dd5757;
    padding-left:1.2em;
    position:relative;
}
.llista-propostes li.active .nom:before {
    width: 1em;
    height: 100%;
    content: "";
    display: block;
    background-image: url(images/arrow-right.png);
    background-position: left 0.6em;
    background-size: 75%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
.llista-propostes li:first-child .nom:before {
    background-position: left 0.2em;
}
/*
.llista-propostes li.active .nom:before, .llista-propostes li.active .nom:after {
    display:block;
    content:"";
    width:0.7em;
    height:0.15em;
    background-color:#dd5757;
    transform:translate(0,-50%) rotate(-45deg);
    position:absolute;
    top:50%;
    left:-1.2em;
}
*/
 .llista-propostes li.active .nom:after {
      transform:translate(0,-50%) rotate(45deg);
}

.llista-propostes-descripcio {
   position: absolute;
    width: 100%;
    left: -100vw;
    padding: calc(var(--general-left));
    font-family:'Merriweather', serif;
    padding-top:calc((var(--font) * 10) + (var(--font) * 0.6));
    color: #222;
    background-color: #fff;
        font-size: calc((var(--font) * 0.6));
    line-height:170%;
    top: calc(var(--font) * 0);
    z-index: 3;
    overflow-y: auto;
    transition: left 0.6s;
    min-height: calc(var(--window-height));

}
.input-propostes {
    color: #fff;
    line-height: 170%;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
    background-color: #dd5757;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 6em;
    text-decoration: none;
    font-weight: 700;
    font-size: calc((var(--font) * 0.6));
    opacity: 1;
    transition: opacity 0.6s;
    border: 0;
    width: 9em;
}
.llista-propostes-descripcio.active .button {
    position:absolute;
    bottom:calc((var(--font) * 0.3) + 0.5rem);
}
.llista-propostes-descripcio.active {
    left:0vw;

}
.contingut-proposta {
    font-size: calc((var(--font) * 0.6));
    line-height:170%;
    font-family: 'Merriweather', serif;
    max-height:0;
    overflow:hidden;
    transition:max-height 1s 0.6s;
    }
.contingut-proposta.active{
    display:block;
    padding-bottom: calc(((var(--font) * 0.3) + 0.5rem) * 4);
    max-height:300vh;
    
    transition:max-height 0.6s;
    }


    .contingut-proposta .wp-caption {
		width:100%!important;
	}
	.contingut-proposta .wp-caption img {
		width:100%;
		height:auto;
	}
	.contingut-proposta .wp-caption-text {
		width:100%;
		height:auto;
		padding-left:0;
		font-size:0.8em;
		line-height:140%;
	}



.llista-propostes-descripcio p.nom {
    margin-top:0;
    text-transform:uppercase;
    font-weight:700;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.7em;
    line-height: 110%;
   
}
.context h2.section-title {
    z-index: 4;
}

h2.section-title.sobre_mapa {
}
h2.section-title.documental-active {
    font-size: calc(var(--font) * 0.8);
  
}
.section-title.sobre_mapa.documental-active {

}

h2.section-title.sobre_mapa.hidden {
    display: none;
}

h2.section-title span {
    display: block;
}

svg {
    width: 100%;
    height: calc(100% + 1px);
}

.loading {

    z-index: 111;
    background-color: #fff0;
    margin: 0rem;
    width: calc(100%);
    height: calc(var(--window-height));
    position: fixed;
    top: -100vh;
    opacity: 0;
    transition: opacity 1s, top 0s 1s;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}
.loading-inset {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: #fff2;
    border:1px solid #fff4;
    width:50vw;
    height:50vw;
    max-width:150px;
    max-height:150px;
    border-radius:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.loading.active {
    top: 0vh;
    opacity: 1;
    transition: opacity 0.5s, top 0s;
}

.loading img {
    top: 50%;
    left: 50%;
    position: absolute;
    max-width:50%;
    max-height:50%;
    transform: translate(-50%, -50%);
}

/* INTRO ---------------------- */

/* MAPA ----------------------- */
.vl-map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%!important;
    height:var(--window-height)!important;
    z-index: -2;
}

.ol-zoom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: /* calc((4.5rem + 3vw) * 1.6)*/ 0 !important;
    background-color: #0000 !important;
    position: fixed !important;
    right: calc(var(--font) * 1.5 + var(--left-window));

    top: calc(var(--font) * 11) !important;
    border-radius: 0 !important;
    left: auto !important;
    padding: 0px !important;

}

.ol-control button {
    
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: calc(var(--font) * 0.5) !important;
    color: #fff !important;
    font-size: calc(var(--font) * 2) !important;
    font-weight: 400 !important;
    text-decoration: none;
    text-align: center;
    height: calc(var(--font) * 2) !important;
    width: calc(var(--font) * 2) !important;
    margin-bottom: calc(var(--font) / 1) !important;
    line-height: calc((85%)) !important;
    background-color: #000 !important;
    border-radius: 100% !important;
    box-shadow: -1px -1px 1px #fffa, 1px -1px 1px #fffa, -1px 1px 1px #fffa, 1px 1px 1px #fffa;

}


button.ol-rotate-reset {
    display: none !important;
}

.shelter-hover-overlay {
    background: rgba(5, 5, 5, 0.9);
    color: rgb(200, 200, 200);
    padding: 5px 10px;
    position: fixed;
}


.llegenda {
    position: fixed;
    bottom: calc(var(--font) * 3);
    left: var(--left-window);
    font-size: calc(0.9rem + 0.1vw);
    transition: top 0.6s;
}

.llegenda ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.llegenda li {
    font-size:calc(var(--font) * 0.5);
    text-shadow: -1px -1px 1px #fffa, 1px -1px 1px #fffa, -1px 1px 1px #fffa, 1px 1px 1px #fffa;
}

.llegenda p {
    margin: 0;
    position: absolute;
    right: 0;
    width: calc(4.5rem + 3vw) !important;
    text-align: center;
    bottom: calc(var(--h_llegenda) + 0.5rem);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    line-height: calc((4.5rem + 3vw) * 0.8);
    background-color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 700;
}

.llegenda span {
    display: inline-block;
    width: calc(var(--font) * 0.5);
    height: calc(var(--font) * 0.5);
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 100%;
}

.llegenda .bomba span {
    background-image: url("images/bombes.jpg");
}

.llegenda .refugi span {
    background-image: url("images/refugi.jpg");
}


/* HEADER ----------------------- */


body > header {
    padding-left: calc(var(--general-left));
    width: 80%;
}

.block-one {
    position: fixed;
    z-index: 104;
    opacity: 1;
    transition: opacity 0.3s;
    margin-top: var(--font);
    width:0;


}

h1 {
    color: #1a1a1a;
    font-weight: 900;
    line-height: 85%;
    font-size:var(--font);
    text-transform: uppercase;
    margin: 0;
    letter-spacing: -0.04em;
    transition: color 1s;
    text-shadow: -1px -1px 1px #fffa, 1px -1px 1px #fffa, -1px 1px 1px #fffa, 1px 1px 1px #fffa;

}

.block-one h1 span, .intro .title-web span {
    display: block;
    white-space: nowrap;

}

.block-one h1 span:nth-child(1), .intro .title-web span:nth-child(1) {

}

.block-two {
    position: fixed;
  
    top: calc(var(--font) * 4.5);
   
    
    left: calc(var(--general-left) + 0.16em);
        height: calc(var(--font) * 2);
    width: calc(var(--font) * 2);
    z-index: 100;
    transition: opacity 0.3s, top 0s;
}

.block-two.active {


    opacity: 1;
    transition: opacity 1s, top 0s 1s;
}

.button-global {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.2s;
        background-color: #DD5758;
    padding: 1rem;
    border-radius: 100%;
     box-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.button-global.active {
   
}

.component-masq-header {
    height: var(--nav-buttons);
    z-index: 102;
    width: 100%;
    position: fixed;
    display: none;
}

.menu-global {
        background-color: #fff;
    margin: auto;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 47%;
    height: calc(0.2rem + 0.2vw);
    z-index: 102;
    transition: background-color 0.2s 0.2s, transform 0.4s, left 0.4s;
    transform: translate(-50%, -50%);
    font-size: 0px;
    line-height: 0px;
    text-indent: -1000vw;
    cursor: pointer;
      
}

.menu-global:before, .menu-global:after {
    background-color: #fff;
    height: calc(0.2rem + 0.2vw);
    Width: 120%;
    display: block;
    content: "";
    position: absolute;
    top: calc(0px - (0.2rem + 0.2vw) * 2);
    left: 0%;
    transform: rotate(0deg);
    transition: background-color 0.2s 0.2s, transform 0.4s, top 0.4s;
    cursor: pointer;
       
}

.menu-global.active {
    background-color: #2220;
    left: 20%;
    width:50%;
    transform: translate(-0%, -50%);
    transition: background-color 0.2s 0s, transform 0.4s, left 0.4s;
   
}

.menu-global:after {
    top: calc(0px + (0.2rem + 0.2vw) * 2);
    transform: rotate(0deg);
}

.menu-global.active:before, .menu-global.active:after {
   /* background-color: #222;*/
    transform: rotate(-45deg);
    top: 0;

}

.menu-global.active:after {
    transform: rotate(45deg);
}
.block-two:hover .menu-global, .block-two:hover .menu-global:before, .block-two:hover .menu-global:after {
   
}
.block-two:hover .menu-global.active {
    background-color:#2220!important;
}
.global ul {
   
    padding-top: calc(var(--font) * 8);
    padding-left: var(--general-left);
    position: fixed;
    background-color: #fff;
    color: #222;
    left: -100%;
    top: 0;
    width: calc(100% - 0rem);
    height: calc(var(--window-height) - 0rem);
    transition: left 1s;
    list-style: none;
    font-size: calc(var(--font) / 1.15);
    font-weight: 400;
    z-index: 5;
    margin: 0rem;
}

.global ul.active {
    left: 0%;
}

.global li {
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
}

.global li.destacat {
    font-size: calc(var(--font) * 1.8);
    margin-bottom: 0.3em;
    margin-top: 0;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.global li.active {
    padding-left: 1em;
    position: relative;
    color:#dd5757
}
.global li.inidcacions.active {
    padding-left: 0em;
    position: inherit;
    color:#dd5757
}
.global li.inidcacions.active:before {
	display:none;
}

.global li.active:before {
    width: 1em;
    height: 100%;
    content: "";
    display: block;
    background-image: url("images/arrow-right.png");
    background-position: left center;
    background-size: 75%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

/* MAIN --------------------- */

/*intro --------------------- */

section.intro {
    /*  padding-top:calc(var(--padding-top-section)/1.4); */
    width: 100%;
    height: var(--window-height);
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 110;
    opacity: 0;
    display: block;
    transition: opacity 1s, top 0s 1s;
}

section.intro.active {
    top: 0vw;
    opacity: 1;
    transition: opacity 1s, top 0s;

}

.intro .title-web {
    font-size: calc((0.7rem + 0.85vw) * 3);
    color: #fff;
    width: calc((5rem + 5vw) * 2.8);
    height: calc((3rem + 3vw) * 2.4);
    line-height: 85%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin: 0;
    padding-top: calc((3rem + 3vw) * 0.5);
    padding-left: var(--general-left);
    font-weight: 900;
    margin-top: calc(1.4rem + 1.4vw);
    cursor: pointer;
}

.intro p.sotstitol {
    padding-left: var(--general-left);
    text-transform: uppercase;
    font-weight: 600;
    font-size: calc((0.7rem + 0.85vw) * 1);
}
.intro .claim-block {
    position: absolute;
    bottom: 10vh;
    width: 95%;
    padding-left: var(--general-left);

}

.intro p.claim {
    font-size: calc((0.7rem + 0.5vw) * 1.3);

    margin-bottom: 0.8rem;
    font-weight: 300;
}

.intro p.sub-claim {
    font-size: calc((0.7rem + 0.5vw) * 0.9);
margin-bottom:0;
    font-weight: 300;
}

.intro p.jump {
    position: absolute;
    bottom: 4.5vh;
    left: var(--general-left);
   
    color: #fff;
    font-size: calc((0.7rem + 0.85vw) * 1.1);
    text-transform: uppercase;
   
    font-weight: 900;
   
   /* padding: calc((1.1rem + 0.8vw) * 0.6); */
    border-radius: 100%;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    background-color: #dd5757;
    width: calc((0.7rem + 0.85vw) * 5);
    height: calc((0.7rem + 0.85vw) * 5);
    text-align: center;
    line-height: calc((0.7rem + 0.85vw) * 5);

}

/* cerca ------------------- */

section.cerca #rfg-filters .cercador {
    
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    padding-left: calc(var(--general-left) * 3);
    height: var(--window-height);
    background-color: #fff;
    padding-right: var(--general-left);
    padding-top: calc(var(--font) * 10.2);
    transition: left 1s;
    z-index: 3;
}

section.cerca.active #rfg-filters .cercador {
    left: 0;
}

section.cerca .button-cerca {
    position: fixed;
    top: calc(var(--font) * 11) !important;
    left: var(--left-window);
    height: calc(var(--font) * 1.5) !important;
    width: calc(var(--font) * 1.5) !important;
    margin: 0;
    display: block;
    z-index: 1;
    text-indent: -1000vw;
    background-color: #222;
    border-radius: 100%;
    box-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    background-image: url(images/search.png);
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    text-shadow: -1px -1px 1px #fffa, 1px -1px 1px #fffa, -1px 1px 1px #fffa, 1px 1px 1px #fffa;
}
#rfg-search-status {
    position: fixed;
    background-color: #fff0!important;
    padding: 0px!important;
    width:0!important;
    padding-left:0!important;
    right:auto!important;
    margin-left: var(--left-window);
    font-size: calc(var(--font) * 0.5);
    text-transform:uppercase;
}
#rfg-search-status.active {
   top: calc(var(--font) * 17) !important;
  
}
#rfg-search-status .search-status-details {
    list-style: none;
    margin:0;
    padding:0;
    white-space: nowrap;
    margin-bottom:calc(var(--font) / 2);
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

button.search-reset {
    text-transform: uppercase;
    background-color: #000;
    border: 0;
    color: #fff;
    margin-top: 0;
    font-size: 1em;
    line-height: 180%;
}
#rfg-search-status .search-hits {
    margin-top: 0;
    margin-bottom:calc(var(--font) / 10);
}
#rfg-search-status .search-hits-value{
    color:#000!important;
    font-size: calc(var(--font) * 0.65);
    text-transform:uppercase;
    letter-spacing: -0.04em;
    line-height:85%;
    white-space: nowrap;    
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
section.cerca.active .button-cerca {
    z-index: 6;
    background-color:#dd5757;
    background-image: url(images/close-w.png);
   
   
  
 
   
}
/*
section.cerca .button-cerca:before, section.cerca .button-cerca:after {
    background-color: #fff;
    height: 3px;
    Width: 60%;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    transition: top 0.4s;
    cursor: pointer;
    display: block;
    opacity: 0;
    transition: opacity 0.5s;
}

section.cerca.active .button-cerca:before, section.cerca.active .button-cerca:after {
    opacity: 1;
}

section.cerca.active .button-cerca:after {
    transform: translate(-50%,-50%) rotate(45deg);
}
*/
p.credits-mapa {
    position: fixed;
    bottom: calc(var(--font));
    left: var(--left-window);
    font-weight: 700;
    font-size: calc(var(--font) * 0.5);
    margin-bottom:0;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

p.credits-mapa span {
    font-weight: 400;
    text-transform: none;
    display: block;
}
section.cerca .titol-opcio-cerca {
    font-size: calc(var(--font) * 0.7);
    margin-top: calc(var(--font) * 0.7);
    margin-bottom: 0.5rem;
    font-weight: 700;
    letter-spacing: -0.03em;
}

section.cerca .anys .titol-opcio-cerca {
    margin-top: 0;
    margin-bottom: calc(var(--font) / 3);
}

.block-one h1.cerca-active, h2.section-title.cerca-active, h2.section-title.sobre_mapa.active {
   
    z-index: 6;
    transition: color 1s, z-index 0s 0s;
}
h2.section-title.cerca-active {
    color:#dd5757;
}

/* Hide Tomsen Filters */
#rfg-filters > p {
    display: none;
}

/* **** */

section.cerca form {
    width: 100%; max-width: 1800px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

section.cerca .intro {
    font-size: 0.8rem;
    max-width: 75%;
}

section.cerca .masq-slider {
  position:relative;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}
section.cerca .masq-slider:after, section.cerca .masq-slider:before {
    content:"";
    display:block;
    position:absolute;
    left:0rem;
    top:0;
    width:1rem;
    font-size: 1.1em;
    height:0.7em;
    background-color:#222;
    border-bottom-left-radius: 0.25em;
    border-top-left-radius: 0.25em;
}
section.cerca .masq-slider:after {
    left:auto;
    right:0;
    border-bottom-left-radius: 0em;
    border-top-left-radius: 0em;
    border-bottom-right-radius: 0.25em;
    border-top-right-radius: 0.25em;
}
.ui-slider-pips [class*=ui-slider-pip-initial] {
    font-weight: 400;
    color: #000;
}
.ui-slider-pips .ui-slider-pip-label .ui-slider-label {
    display: block;
    position: absolute;
    top: 5px;
   
    left: 50%;
    margin-left: -0.5em;
    width: 2em;
    overflow: hidden;
    text-indent: -2em;
}
.ui-slider-pips .ui-slider-pip-first.ui-slider-pip-label .ui-slider-label {
    text-indent:0;
    margin-left:-1.5em;
    overflow:visible;
}
.ui-slider-pips .ui-slider-pip-last.ui-slider-pip-label .ui-slider-label {
    text-indent:0;
    margin-left:-0.5em;
    overflow:visible;
}
.ui-slider-pips [class*=ui-slider-pip-selected], .ui-slider-pips .ui-slider-pip-selected-2, .ui-slider-pips:not(.ui-slider-disabled) .ui-slider-pip:hover .ui-slider-label {
    font-weight: 700;
    color: #dd5757;
}
.ui-widget-header {
    background-image:none;
    background-color:#dd5757;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    top: 0.35em;
    border-radius: 100%;
    transform: translateY(-50%);
    border-color: #dd5757!important;
    border-width:2px;
    background-color: #fff;
    background-image: url(images/arrow-slim-down.png);
    background-size: 55%;
    background-position: center center;
    background-repeat: no-repeat;
    width:calc(2rem - 6px);
    height:calc(2rem - 6px);
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: calc(-.6em - 2px);
}
.ui-widget-content {
    border:0;
    border-radius:0;
    height:0.7em;
    margin-top: 0.5em;
    background-color:#000;
    background-image:none;
}
.ui-slider-horizontal.ui-slider-pips {
    margin-bottom: 1.7em;
}
section.cerca .tipologies {
    position: relative;
    z-index: 2;

}

section.cerca .tipologies ul {
    display: none;
    background-color: #eee;
    width: calc(100% - 2rem);
    padding: 0;
    list-style: none;
    border-radius:3px;
height:20vh;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

section.cerca.active .tipologies.active ul {
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: calc(2rem - 3px);
}

section.cerca .tipologies li {
    font-size: calc(var(--font) * 0.7);
    padding: 0.3rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}

section.cerca .tipologies a {
    text-decoration: none;
    color: #000;

}

section.cerca .expand-tipologies {
    position: relative;
}

p.tipologia-active {
    background-color: #222;
    color:#fff;
    margin-bottom: 0.5rem;
    margin-right: 3rem;
    margin-top: 0.5rem;
    padding: 0.3rem;
    font-size: calc(var(--font) * 0.7);
    border: 0;
    border-radius:3px;
    width: calc(100% - 2rem);
}

p.tipologia-active:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    background-image: url(images/arrow-up.png);
    background-position: center center;
    background-color:#fff;
    background-size: 40%;
    background-repeat: no-repeat;
        height: calc(2rem - 8px);
    width: calc(2rem - 8px);
    border: 2px solid #222;
    filter:invert(0);
    border-radius:100%;
}

.tipologies.active p.tipologia-active{ 
    background-color:#dd5757;
}
.tipologies.active p.tipologia-active:after {
    border:2px solid #dd5757;
}
.tipologies.active p.tipologia-active:after {
    transform: rotate(180deg);
}

section.cerca .input-cerca {
    background-color: #222;
    color:#fff;
    margin-bottom: 0rem;
    margin-right: 3rem;
    margin-top: 0rem;
    padding: 0.3rem;
    position: relative;
    font-size: calc(var(--font) * 0.7);
    border: 0;
    border-radius:3px;
    width: calc(100% - 2rem);
    height: calc(2rem - 3px);
}

section.cerca .buttons {
    margin: 0;
    font-size: var(--font);
    bottom: calc(var(--font) / 2);
    left: var(--general-left);
    background: #dd5757;
    color: #fff;
    width:25vw;
    max-width:300px;
    margin-top:calc(var(--font) );
    border-radius:3px;
    
}
    
     
section.cerca .search-no-results.error {
        position: absolute;
    z-index: 4;
    font-size: 0.9em;
    padding: calc(var(--font) / 3);
    left: calc(var(--general-left) * 3);
    bottom: 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    margin-right: calc(var(--general-left) + 0.5rem);

}
section.cerca .buttons input {
   
  
    width: 100%;
    color: #fff;
    height: calc(var(--font) * 1.5);
    text-transform: uppercase;
    font-size: calc(var(--font) * 0.55);
    border: 0;
   /* padding-left: calc(var(--font) * 0.7);
    padding-right: calc(var(--font) * 0.7); */
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #dd5757;
        border-radius:3px;
}

/* fitxa -------------------- */

section.cerca .fitxa .detail-descripcio,
.fitxa .detail-descripcio {
    background-color: #222;
        padding-left: var(--general-left);
    padding-right: var(--general-left);
}

p.video_peu {
    padding-bottom: 2rem;
    font-size: 0.7rem;
    padding-top:0rem!important;
}
dl.carta_arqueologica_id {

}
dl.carta_arqueologica_id dt, dl.carta_arqueologica_id dd{
    display:inline-block;
}
section.cerca .fitxa,
.fitxa {
    position: absolute;
    top:100vh;
    opacity: 0;
        font-size: calc(var(--font) * 0.8);
    line-height: 140%;
    transition: top 1s, opacity 1s, padding-top 0.7s 0.3s;
}

section.cerca .fitxa.active,.fitxa.active {
    z-index: 3;
    width: calc(100%);
    top: 0vh;
    opacity: 1;
    background-color: rgba(255,255,255,1.00);
}

section.cerca .fitxa.active.clean,
.fitxa.active.clean {
    top:100vh;
    opacity: 0;

}
article.detail-fitxa{
    width: 100%; 
    /* max-width: 1800px; */
    margin: auto;
    line-height: 160%;
    background-color:rgba(255,255,255,1.00);
    padding-bottom:3rem;
}
article.detail-fitxa .sobretaula {
    display:none;
}
.detail-fitxa-tecnica .situacio {
    margin-bottom: calc(var(--font) * 2.5);
}

.detail-fitxa-tecnica dt {
    font-weight: 600;
    padding-left: 1rem;
}
.detail-fitxa-tecnica .descripcio dt {
    display:none;
    
}
.detail-fitxa-tecnica dd {
    padding-left: 0;
    margin-left: 0;
}

.detail-fitxa-tecnica .detall-estat {
    margin-top: 0.5rem;
}

.detail-fitxa-tecnica .situacio h4, .detail-fitxa-tecnica .detall-estat h4 {
    margin-top: 0;
    margin-left: 0.5rem;
}

.descripcio.info-tech br {
    padding-bottom: 1rem;
    display: block;
    content: "";
}

.help-content .close, section.cerca .fitxa.active .close,
.fitxa.active .close, .contingut-proposta.active .close, .llista-propostes-descripcio.active .close {
    position: fixed;
       top: calc(var(--font) * 2) !important;
    transform: translateY(-50%);
    
    left: calc(100vw - var(--general-left) - (var(--font) * 1.7));
    height: calc(var(--font) * 1.7) !important;
    width: calc(var(--font) * 1.7) !important;
    display: block;
    z-index: 2;
    text-indent: -1000vw;
    opacity: 1;
    transition: opacity 0.6s;
}
.help-content .close {
    position:absolute;
}
.text_intro .close:before, .text_intro .close:after,.help-content .close:before, .help-content .close:after, section.cerca .fitxa.active .close:before, section.cerca .fitxa.active .close:after,
.fitxa.active .close:before, .fitxa.active .close:after, .contingut-proposta.active .close:before , .contingut-proposta.active .close:after, .llista-propostes-descripcio.active .close:before, .llista-propostes-descripcio.active .close:after {
    background-color: #dd5757;
    height: calc(0.25rem + 0.20vw);;
    Width: 80%;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);

}

.text_intro .close:after, .help-content .close:after, section.cerca .fitxa.active .close:after,
.fitxa.active .close:after, .contingut-proposta.active .close:after, .llista-propostes-descripcio.active .close:after {
    transform: translate(-50%, -50%) rotate(45deg);
}


.text_intro .close:before, .text_intro .close:after,.help-content .close:before, .help-content .close:after {
    background-color: #fff;
}
.fitxa h3, .fitxa h4 {
    font-size: calc(1.05rem + 1.7vw);
    text-transform: uppercase;
    font-weight: 700;
    margin: 0.5rem;
    margin-left: var(--general-left);
    margin-right: var(--general-left);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 100%;
}

.fitxa h4, .documental h4 {
    font-size: calc(0.9rem + 1vw);
    margin-top: calc(var(--font) * 1.5);
    font-weight: 400;
    text-transform: uppercase;
}
.documental h4 {
    text-transform:none;
}
.documental h4 strong {
    display:block;
}
.fitxa h4 {
    background-color: #fff;
    top: calc(var(--font) * 6.5);
    padding-top: calc(var(--font) * 0.5);
    padding-bottom: calc(var(--font) * 0.5);
    margin-bottom:0;
}
.fitxa .detail-images h4, .fitxa .detail-descripcio h4 , .fitxa .detail-images p, .fitxa .detail-descripcio p  {
    color:#fff;
    background-color:transparent;
    margin: 0;
}
.fitxa .detail-images h4 {
    padding-top:3rem;
}
.fitxa .detail-images p {
    
}
.fitxa .detail-images .swiper-slide-active p {
    padding-top:0.5rem;
    display:block;
}
.fitxa p {
    margin-left: var(--general-left);
    margin-right: var(--general-left);
}
article.detail-fitxa header {
    position: sticky;
    top:calc(0px - (var(--font) * 0));
    background-color: #fff;
    z-index: 1;
    padding-top: calc(var(--font) * 6);
     box-shadow:0 0 2rem rgba(0,0,0,0.0);
}
 article.detail-fitxa header.soft {
    box-shadow:0 0 3rem rgba(0,0,0,0.2);
     
}
.fitxa .title-fitxa h3 {
font-size:calc(var(--font) * 1.5);
    padding-top: var(--font);
    z-index: 1;
    text-transform: none;
    letter-spacing: -0.04em;
    padding-bottom: calc(var(--font) *0.5);
    margin-bottom:0;
    transition:font-size 1s;
}


.fitxa .title-fitxa p {
    font-weight: 400;
    font-size: calc(var(--font) * 0.8);
    line-height: 100%;
    margin: 0;
    padding-bottom: calc(var(--font) *0.5);
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: var(--general-left);
}

.fitxa dl {
    margin: 0.5rem;
    margin-left: var(--general-left);
    margin-right: var(--general-left);
    grid-column-gap: calc(var(--font) / 2);
    border-left:3px solid #dd5757;
    padding-left: calc(var(--font) * 0.5);
}
.info-tech dl {
    line-height:140%;  
}
.fitxa .detail-fitxa-tecnica dt {
    margin-top: calc(var(--font) / 2);
    padding-left:0;
}
.fitxa .detail-fitxa-tecnica dt:first-child, .fitxa .detail-fitxa-tecnica .documentacio dt:first-child {
    margin-top:0;
}

.fitxa .detail-fitxa-tecnica .documentacio dt {
    margin-top: calc(var(--font) / 1);
    margin-bottom:0;
}
.fitxa .detail-fitxa-tecnica .situacio dt {
    font-weight:700;
     margin-top: calc(var(--font) * 0.5);
    margin-bottom:0;
}
.fitxa .detail-fitxa-tecnica .situacio dd {
    margin-left:0;
}

.fitxa dt {
  grid-column-start: 1;
  grid-column-end: 2;
}
.fitxa dd {
   grid-column-start: 2;
  grid-column-end: 3;
    margin-left:0;
}

.fitxa .embed-container {
  
}

.fitxa .embed-container iframe {
   width:100%;
    height: 57vw;
       box-shadow: 0 0 1rem black;
    background-color: #333;
    padding: 0.5rem;
    
    margin-top: 1rem;
}

.detail-images {
    position: relative;
    overflow: hidden;
    background-color: #222;
    color:#fff;    
    padding-left: var(--general-left);
    padding-right: var(--general-left);
    margin-top: calc(var(--font) * 1.5);
    
}

.fitxa .swiper-images {
    width: 100%;
    z-index:0;
    box-sizing: content-box;
    height:67vw;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2rem;
	overflow:hidden;
}
.fitxa .swiper-container-horizontal>.swiper-pagination-bullets, .fitxa .swiper-pagination-custom, .fitxa .swiper-pagination-fraction {
    top: -2.3rem;
    bottom: auto;
    position: absolute;
    left: auto;
    width: auto;
    right: calc( var(--general-left));
}
.fitxa .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 0.2rem;
    height: 0.5rem;
    margin-left: 0;
    width: 0.5rem;
    border-radius: 0.5rem;
}

.swiper-images-pagination-detail {
    display:flex;
}
.menu .swiper-pagination-bullets {
    opacity:0;
}
.menu .active .swiper-pagination-bullets {
    opacity:1;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 4px;
    height: 6px;
    margin-left: 0;
    width: 6px;
    border-radius: 3px;
    background: #fff;
}
.swiper-container-horizontal span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #dd5757;
}
.swiper-pagination-bullet-active {

    background: #000;
}
.context .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    background: #000;
}
.fitxa .swiper-wrapper {
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;

}
.fitxa .detail-images ul.swiper-wrapper {
    margin-top: 2rem;
}

.fitxa .detail-images .swiper-images  {
	padding-top:2rem;
	
}
.fitxa .detail-images .swiper-container-horizontal>.swiper-pagination-bullets {
	top:0;
}

.fitxa .swiper-slide .image {
    overflow: hidden;
    padding-bottom: 64.25%;
    position: relative;
    height: 0;
    padding-left: 0;
    margin: 0;
}

.fitxa .swiper-slide.swiper-slide-active .image {
   
}
.fitxa .swiper-slide .image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 100%;
    width: 100%;
    height: calc(100% - 1rem);
    -o-object-fit: contain;
    object-fit: contain;
}

.fitxa .swiper-slide .footer-image {
    font-size: 0.7em;
    line-height: 140%;
}

/* context ------------------ */

section.context.active {
    display: block;
}

section.context.active > header {
   top: calc(var(--font) * 11 );
 
    background-color: #fff;
    position: fixed;
    margin-left: 0rem;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: calc(var(--window-height) - (var(--font) * 11));
}


section.context nav {

}

/* Swiper context -- */
.documentals-block {
position:absolute;
    top:2rem;
    width:100%;
    z-index:-1
}

.documentals-block.active {
  z-index:1;
}

.context .menu h3 {
   position: absolute;
    margin: 0;
    font-size: calc(var(--font) * 0.65);
    top: -2rem;
    margin-left: var(--general-left);
    text-transform: uppercase;
    z-index: 1;
    width: 29vw;
    min-height: calc(3em * 0.85);
    line-height: 85%;   
    cursor:pointer;
}
.context .menu h3:hover {
    color:#dd5757;
}
.context .menu .active h3 {
    color:#dd5757;
}
.context .menu .active .swiper-container-initialized ul {
    position:relative;
   
}
.context .menu .swiper-container-initialized ul {
   
   height: calc(var(--window-height) - ((var(--font) * 11) + 4rem));
}
.context .menu .la-vida-als-refugis h3, .context .menu .la-vida-en-los-refugios h3, .context .menu .life-shelters h3 {
    margin-left:40vw;
}




.context .menu .lendema h3,.context .menu .el-dia-siguiente h3,.context .menu .after-war h3 {
    margin-left:70vw;
}
.swiper-pagination-la-vida-als-refugis.swiper-pagination-bullets, .swiper-pagination-barcelona-sota-les-bombes.swiper-pagination-bullets {

    left: 50vw;
    position: absolute;
    top: 0 ;
    bottom:auto;
}
.swiper-pagination-barcelona-sota-les-bombes.swiper-pagination-bullets {
     left: var(--general-left);
}
.context .menu .swiper-container-horizontal {

}
.context .menu ul {
     position:relative;
    z-index:1;
    list-style: none;
    margin: 0;
    margin-top: 2rem;
    padding-left: 0;
}

.context .menu .content-swiper {
    position: relative;
    height: 100%;
    width:100%;
    top: 0%;
    transform: translate(0,0%);
    background-color:#fff;
}
.context .menu .swiper-button {
        position: absolute;
    top: calc(50% + (var(--font) * 2.6));
    right: 0;
    height: calc(var(--font) * 2.4) !important;
    width: var(--general-left);
    transform: translate(0, -50%);
    color: #fff;
    opacity: 1;
    transition: opacity 0.6s;
    background-color: #0007;
}
.context .menu .swiper-button.inactive {
    opacity:0;
}

.context .menu .swiper-button:hover {
    color: #fff;
}
.context .menu .swiper-button-next:after, .context .menu .swiper-button-prev:after {
    font-size: calc(var(--font) * 1);
}

.context .menu .swiper-button-prev:after {
}
.context .menu .swiper-button-prev {
    left:0;
    right:auto;
}
.swiper-pagination-fraction {
    bottom: auto;
    position: absolute;
    left: var(--general-left);
    font-size: calc(var(--font) * 0.8);
    width: 7vw;
    top: 0;
    font-weight: 900;
    line-height: 80%;
    letter-spacing: -0.09em;
}

a.capitol-button {
    color: #dd5757;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    margin-top: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: calc(0.6rem + 0.4vw);
    font-weight: 700;
    opacity:1;
    transition:opacity 0.6s;
}
a.capitol-button.inactive { 
opacity:0;
}
.la-vida-als-refugis .swiper-pagination-fraction {
    left: calc(63vw - 7vw);
  
}
.la-vida-als-refugis.active .swiper-pagination-fraction {
 
}

.swiper-pagination-current {
    color:#dd5757;
}
.context .menu .swiper-button-disabled {
    opacity:0;
}
.context .menu .documentals-modul svg {
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 50%;
    width: 100%;
}

.context .menu .documentals-modul {
    overflow: hidden;
    height: calc(var(--window-height) - ((var(--font) * 11) + 4rem));
    padding-top: 0;
    margin-bottom: 0rem;
    position: relative;
   width: 100vw ;
    padding-left: 0;
    padding-right: 0;
}

.context .menu .documentals-modul .image {
   width: 100vw;
    height: calc(var(--window-height) - ((var(--font) * 11) + 4rem));
    position: absolute;
   
    left: 0;
    margin: 0;
    transform: translate(0%,0%);
    z-index: 0;
    overflow: hidden;
}
.subtitol {
    margin-top: 1rem;
    left: 0;
    font-size: calc(0.85rem + 0.4vw);
    text-transform: none;
    line-height: 130%;
    letter-spacing: 0;
    font-weight: 400;
    color:#fff;
    
}
.subtitol p {
    margin:0;
}
.context .menu .documentals-modul .title a{
    color: #fff;
    text-decoration: none;
}


.linker {
    position: absolute;
    z-index: 2;
   top:50%;
  /*  height:calc((var(--window-height) - (var(--font) * 8)) / 2); */
    background-color:#dd5757ee;
    left:50%;
    transform:translate(-50%,-50%);
    padding: var(--general-left);
    border-radius:3px;
    width: calc(100% - ((7vw + 0.1rem + var(--general-left))* 1));
   
  
}


.context .menu .documentals-modul .title {
    margin: 0;
    text-decoration:none;
    line-height: 100%;
    padding-bottom: 0;
    color:#fff;
    letter-spacing: -0.04em;
    font-weight: 700;
    z-index: 2;
    font-size: calc(1.4rem + 0.85vw);
    padding-right: 5%;
    width:auto;
   /* width:calc(100% - (var(--general-left) * 2));*/
    text-transform: uppercase;


   display: flex;
    flex-direction: column-reverse; 
}


.context .menu .documentals-modul img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
}

/* documental -- */
section.context .documental {
    display: none;
}

section.context.active .documental {
    position: absolute;
    display: block;
    top: var(--window-height);
    width: calc(100%);
    padding-top: 0vw;
  /*   padding-bottom: 75vw; */
    left: 0rem;
    opacity: 0;
    background-color: #fff;
    z-index: 100;
    transition: top 1s, opacity 1s, padding-top 1s;

}

section.context.active .documental.active {
    top: 0rem;
    opacity: 1;
  
}

section.context.active .documental.active.clean {
    top: var(--window-height);
    opacity: 0;
}
.geo {
    display:none;
}
.close-documental {
    position: fixed;
    top: -50vh;
    right:  var(--general-left);
    height: calc(var(--font) * 1.7);
    width: calc(var(--font) * 1.7);
    display: block;
    z-index: 101;
    text-indent: -1000vw;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 1s, top 0s 1s;
}

.close-documental.active {
    top: var(--font);
    opacity: 1;
    transition: opacity 0.5s, top 0s;
}
.close-documental.active {
    top: calc(var(--font) * 2.25);
    opacity: 1;
    transition: opacity 0.5s, top 0s;
}


.close-documental:before, .close-documental:after {
    background-color: #dd5757;
    height: calc(0.25rem + 0.2vw);
    Width: 80%;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);

}

.close-documental:after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.documental > header, .documental .general-image, .documental .component-masq-image {
    width: 100%;
    height: calc(var(--window-height-noresize) * 0.75);
    position: absolute;
    top: 0;
    z-index: 1;
}

.documental > header {
  
   
    height: calc(var(--window-height-noresize) * 0.80);
    overflow:hidden;
    width:100%;
}

.documental .general-image {
width: calc(100%);
    top: 0rem;
    left: 0;
    
}

.documental > header svg {
    width: calc(100%);
    height: calc(70% + 1px);
    z-index: 0;
    position: absolute;
    left:0.5rem;
    bottom: 0;
    display:none;
}

.documental .top-group {
        position: absolute;
    font-size: calc(1.1rem + 3.5vw);
   bottom:0;
    left: 0%;
    transform: translate(0%, 0%);
    padding-left: var(--general-left);
    padding-right: var(--general-left);
    z-index: 1;
    text-transform: uppercase; max-width: 1800px;
    width:100%;
    margin: auto;
    color: #000;
}

.documental .top-group h3 {
    margin: 0;
    padding-right: 10%;
    color: #fff;
    font-weight: 700;
    font-size: calc(var(--font) * 1.7);
    letter-spacing: -0.04em;
    line-height: 85%;
}
.documental .marges-header {
   color: #fff;
    font-weight: 700;
    bottom: 0rem;
    font-size: calc((1.1rem + 2vw) / 1.7);
    padding: var(--general-left);
    padding-top: calc(var(--general-left) - 0.5em);
    padding-bottom: calc(var(--general-left)* 1.2);
    position: absolute;
    background-color: #222;
    left: 0;
    width: calc(100%);
    
}
.documental .top-group p {
    
    margin: 0;
    margin-bottom:0.5em;
}

.documental .component-masq-image {
    height: calc(100vw + 2px);

}

.documental .general-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 100%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.credits-imatge {
    position: absolute;
    bottom: 0px;
    right: 0;
    color: #fff;
    background-color: #000b;
    text-align: right;
    font-size:0.9em;
    z-index: 1000;
    padding:0.7em;
    padding-right: 1em;
    padding-left: 1em!important;
    display:none;
}
.documental.active .general-image img {

}

.documental .content {
    font-family: 'Merriweather', serif;
    padding-left: var(--general-left);
    padding-right: var(--left-window);
    font-size: calc(0.85rem + 0.2vw);
    line-height: 170%;
    position: relative;
    width: 100%; max-width: 1800px;
    margin: auto;
    z-index:0;
}

.documental .content p {
    margin-bottom: 2em;
    margin-top:0;
    font-weight: 400;
}

.content:before {
    height: calc(var(--window-height-noresize) * 0.74);
    content: "";
    display: block;
}

.documental .intro {
    
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    margin-left: calc(0px - (var(--general-left)));
    padding-left: var(--general-left);
    padding-right: var(--general-left);
    padding-top: calc(var(--window-height-noresize) * 0.06 + 2rem);
    margin-bottom:0;
    padding-bottom:1px;
    width: calc(100% + (var(--general-left) * 2) + 1px);
    font-weight: 400;
    color:#dd5757;
    background-color:#fff;
    font-size: calc(1.2rem + 0.2vw);
    line-height: 140%;
}
.documental .intro p {
    font-weight: 700;
}

.documental .wp-block-image {
    max-width: none;
}

.documental .wp-block-image .alignright, .documental .wp-block-image .alignleft, .documental .wp-block-image .aligncenter {
    position: relative;
}

.documental .wp-block-image .alignright, .documental .wp-block-image .alignleft, .documental .wp-block-image .aligncenter, .is-type-video {
    float: none;
    margin-bottom: 2em;
}
.documental .content .intro p {
     
}




figure.wp-block-embed {
    margin: 0;
        margin-bottom: 2em;
}

figure.wp-block-embed iframe {
    width: 100%;
    height:54vw;
   
}

.documental .wp-block-image .alignright img, .wp-block-image .alignright img {
    width: 100%;
}

.wp-block-image figcaption, figcaption {
   
    font-size: 0.7em;
    line-height: 160%;

}


/* credits ------------------- */

section.credits.active {
    display: block;
    background-color: #fff;
    width: 100%;
    height: var(--window-height);
    min-height: var(--window-height);
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Merriweather', serif;

}

section.credits.active {
    display: block;
    height: auto;
    position: absolute;
}

section.credits p, section.credits ul {
    padding-left: var(--general-left);
    padding-right: 2rem;

}
hr.wp-block-separator {
    border: 0;
    padding-bottom: calc(var(--font) * 1.5);
    margin:0;
}

/* about ----------------- */

section.about {
    background-color: #fff;
    width: calc(100%);
    height: var(--window-height);
    min-height: var(--window-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    font-family: 'Merriweather', serif;

}

section.about.active {
    display: block;
    height: auto;
    position: absolute;
}

section.about p, section.credits p, section.about ul, section.credits ul {
  
   
    line-height: 140%;
    padding-right: var(--general-left);
    padding-left: calc(var(--general-left) + 0.16em);

}
section.credits ul {
     margin-left: calc(var(--general-left) + 0.16em);
}
section.credits li {
    margin-bottom:1em;
    list-style: none;
}
section.credits li li {
    margin-bottom: 0.5em;
}
section.credits strong {
    display:block;
}
.about .text-block p strong {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: calc(var(--font) * 0.9);
    letter-spacing: -0.05em;
}
section .text-block {
    padding-top: var(--padding-top-section);
}
.credits .text-block , .about .text-block {
    font-size: calc(0.85rem + 0.2vw);
    line-height: 170%;
    padding-top: calc(var(--font) * 10);
  
}
.about .text-block p strong{
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: calc(var(--font) * 0.9);
    letter-spacing: -0.05em;
    font-weight:bold;
    line-height:120%;
    margin-top:0;
    }
.credits .text-block p:first-child {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: -0.05em;
    font-weight:bold;
    line-height:120%;
    margin-top:0;
    font-size: calc(1.3rem + 0.2vw);
}

.about  ul {
    padding-top:3em;
    margin-top:5em;
    padding-bottom:5rem;
    border-top:1px solid;
    font-size:0.85em;
    line-height:170%;
    margin-left: var(--general-left);
    margin-right: 2rem;
      
    max-width: 1200px;
}

.about  ul li:first-child {
font-weight:bold;
list-style: none;
    text-transform:uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}
.about  ul li {
    margin-bottom:1em;
}
.block-one.soft, h2.section-title.soft, .close-documental.soft, section.cerca .fitxa.active .close.soft {
    
}
.ampliar {
    display:none;
   
    
    
}
.ampliar.active {
    display:inline-block;
    position:relative;
    cursor:pointer;
    padding: 0.5em;
    width:10em;
    padding-left: 0em;
    text-align: center;
    font-size:0.9em;
    padding-right: 0em;
    line-height: 170%;
    border-radius: 2px;
    border:0;
    border-top: 1px solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    font-weight: 700;
    opacity: 1;
    margin-top: 2em;
    transition: opacity 0.6s;
    
}

.social-sharing.ss-social-sharing {
    display: none!important;
}

.social-sharing {
    display: flex!important;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    height: calc(var(--general-left) * 4);
    padding: 0;
    width: calc(var(--general-left) * 2);
    margin-left: calc(var(--general-left) + 0.16em);
    margin-bottom: calc(var(--general-left) * 0);
    background-color: #fff;
    filter: invert(1);
}
.social-sharing  a {
    background-size:44%;
    background-position:center center;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    overflow:hidden;
    text-indent:-100vw;
    color:#0000;
    cursor:pointer;
}
.social-sharing  .button-twitter {
    background-image:url("images/twitter.png")!important;
}
.social-sharing  .button-facebook {
    background-image: url("images/facebook.png")!important;
}
.social-sharing  .button-twitter:hover {
    background-image:url("images/twitter-r.png")!important;
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    filter: invert(1);
}
.social-sharing  .button-facebook:hover {
    background-image: url("images/facebook-r.png")!important;
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    filter: invert(1);
}
.social-sharing  .button-linkedin {
    display:none!important;
}

a.cli_settings_button {
    color: #fff!important;
}
div#cookie-law-info-bar {
    box-shadow: none;
}


@media (min-width: 414px) {
    .intro .title-web {
        padding-top: calc((3rem + 3vw) * 0.8);
		height: calc((3rem + 3vw) * 2.7);
    }
	.intro .language{
        padding-top: calc((3rem + 3vw) * 0.8);
		top: calc(1.4rem + 1.4vw);
	}
    .intro .claim-block {
        width: 80%;
    }

    .intro p.claim {
        font-size: calc((0.7rem + 0.5vw) * 1.5);
    }
}
@media (min-width: 768px) {

	
	div#cookie-law-info-bar {
    max-width: 50%;
    left: auto;
    right: 0;
    border-top-left-radius: 1rem;
}
	
    .help-content {
    width: 50%;
}
    .global-help .help-content {
    height: 25vw;
}
    
/* INTRO */
    .intro .swiper-slide .claim{
        padding-top:1em;
    }
	
	.intro .title-web {
    height: calc((3rem + 3vw) * 2.8);
	}
	
	.intro p.jump {
    bottom: 6vh;
	}
	
    /* DOCUMENTAL ----- */
    .detail-fitxa p, .fitxa .detail-fitxa h4, .fitxa .title-fitxa h3, .fitxa .title-fitxa p, .fitxa .detail-fitxa-tecnica dl {
        padding: 0;padding-top:3rem;
        margin-left: 0rem;
        width: 100%;
        margin-bottom: 0rem;
    }

    section.cerca .fitxa .detail-descripcio, .fitxa .detail-descripcio, .detail-images {
        margin:0;
    margin-left: calc(0px - var(--general-left));
    margin-right: calc(0px - (var(--general-left)* 2));
     padding-top:0rem;   
    padding-left: var(--general-left);
    padding-right: calc(var(--general-left)* 2);
}
    .fitxa .title-fitxa h3, .fitxa .title-fitxa p, .fitxa .detail-fitxa-tecnica dl, .fitxa .detail-fitxa-tecnica h4 {
      padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
   
    }
    .fitxa .detail-fitxa-tecnica dl {
        padding-left:var(--font);
         margin-bottom:calc(var(--font) * 2.5);
    }
    .fitxa .detail-fitxa-tecnica dt {
    padding-left: 0;
       
}
    .credits .text-block, .about .text-block {
    
		padding-top: calc(var(--font) * 8 - 2px);
	}
	
	
	
	
    section.about p, section.credits p, section.about ul, section.credits ul {
    margin-left: var(--general-left);
    margin-right: 2rem;
    line-height: 140%;
    padding-right: var(--general-left);
    padding-left: calc(25% - 1.5vw);

}
    section.about ul {
          padding-left: 3em;
    }
    section.cerca .fitxa.active, .fitxa.active {
    padding-top: 0;
    z-index: 3;
    width: calc(100%);
    top: 0vh;
    opacity: 1;
    margin-bottom: 0.5rem;
    background-color:#0000;
    padding-left:calc(15vw + var(--general-left));
}
    .fitxa.active > div {
        background-color:#fff;
    }
    article.detail-fitxa header {
    position: sticky;
    top: 0;
    padding-top: calc(var(--font) * 1.3);
    padding-bottom: calc(var(--font) * 0.5);
        
    margin-left: calc(0px - var(--general-left));
    margin-right: calc(0px - (var(--general-left)* 2));
    padding-left: var(--general-left);
    padding-right: calc(var(--general-left)* 2);
        margin-top: 0;
}
    
    .detail-fitxa-tecnica {
        margin-top: calc(var(--font) * 1.5);
    }
    .fitxa .detail-fitxa-tecnica h4 {   
    top: calc(var(--font) * 4.3);
    padding-top: calc(var(--font) * 0.5);
    padding-bottom: calc(var(--font) * 0.5);
    }
    
    
    .fitxa .title-fitxa h3 {
        padding-top:var(--font);
    line-height: 85%;
    }
  .fitxa .title-fitxa h3,.fitxa .title-fitxa p {
        margin-top: 0;
    }

.info-tech dl, .situacio dl {
   margin-left:0;
    line-height:140%;  
}
    .fitxa .detail-fitxa header h4 {
         padding-bottom: calc(var(--font) * 0.5);  
    }
   
.fitxa .detail-fitxa-tecnica .situacio dt {
    font-weight:700;
     margin-top: 0;
    margin-bottom:0;
}
    .fitxa .title-fitxa p {
        margin-bottom: 0;
    }

    .fitxa .embed-container, .fitxa .swiper-slide .image {
        padding-left: 0;
        margin: 0;
        width: 100%;
    }
    .fitxa .embed-container {
        padding-bottom: 3rem;
        }
    figure.wp-block-embed iframe {
    width: 100%;
    height: 37vw;
}
.fitxa .embed-container iframe {
    height: 40vw; 
    }
    .fitxa .swiper-slide .image {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .detail-fitxa-tecnica .situacio, .detail-fitxa-tecnica .detall-estat {
        margin: 0;
        padding-bottom: 0rem;
        border:0;
    }
    .fitxa .swiper-images {
    height: 47vw;
    }

    section.cerca #rfg-filters .cercador {

    }

    section.cerca #rfg-filters .cercador {
        width: calc(50vw + var(--general-left));
    }

    section.cerca.active .button-cerca {
      
    }
.documental .intro {
padding-top:3rem;
    }
    .social-sharing {
            margin-left: calc(25% - 1.5vw);  
        height: calc(var(--general-left) * 1.4);
    padding: 0;
    width: calc(var(--general-left) * 2.8);
        flex-direction: row;
    }
.documental .marges-header {
    padding-left: calc(25% - 1.5vw);
    }
    .documental .content, .fitxa article.detail-fitxa {
    font-size: clamp(1rem, 1vw, 1.32rem);
    padding-top: calc(var(--font) * 3.85);
    padding-right: calc(var(--general-left) * 2);
    padding-left: calc(var(--general-left) * 1);
    background-color: #fff;
    }
    
   .documental .content p, .documental .content h4, .documental .content .aligncenter, .documental .wp-block-image .alignright, .documental .wp-block-image .alignleft, .is-type-video {
        padding-left: calc(25% - 1.5vw);
        width: 100%;
        margin: 0;
       margin-bottom: 3rem;
    }
    .wp-block-image .aligncenter>figcaption, .wp-block-image .alignleft>figcaption, .wp-block-image .alignright>figcaption, .wp-block-image.is-resized>figcaption
    .documental .content p, .documental .content h4 {
        padding-left:0;
        padding-right:0;
        display:block;;
    }

    .fitxa h4, .documental .content h4, .detail-descripcio {
        margin-top: calc(var(--font) * 2.5);
    }

    .documental .wp-block-image {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .documental .wp-block-image .alignright, .documental .wp-block-image .alignleft {
        margin-left: calc(0 - var(--general-left));
        margin-right: calc(0 - var(--nav-buttons));
    }


    .documental .top-group {
        padding-left: var(--general-left);
        padding-right: var(--nav-buttons);
    }
}
@media (min-width: 1024px) {
    
   /* .ol-viewport {
        width:80vw!important;
        margin-left:20vw!important;
    }
    */
   .help-content {
    width: 50%;
    }
    .global-help .help-content {
        height:18vw;
    }
    
    article.detail-fitxa header h4 {
        display:none;
    }
    
    article.detail-fitxa header dl {
        color: #fff;
        border: 0;
        margin-left: 0;
        padding-left: 0;
        width: 100%;
        padding-right: 0;
    }
     article.detail-fitxa .adreca {
         padding:0;
    }
     article.detail-fitxa header dt {
         font-weight:700;
         padding-top:1rem;
    }
    .loading-inset {
  
    width:20vw;
    height:20vw;
    }
.llegenda {
    bottom: calc(var(--font) * 1);
    left: 25%;
}
	
	

    p.credits-mapa {
    bottom: calc(var(--font) * 1);
    left: 50%;
}
    
    section.cerca .fitxa, .fitxa, section.cerca .fitxa.active, .fitxa.active {
  
    width: 100%;
    height: 100vh;
   padding-bottom:0;
        margin-bottom:0;
        overflow:auto;
        padding-top:0;
        z-index:3;
        padding-left:25vw;
}
  h2.section-title.fitxa-active, h2.section-title.documental-active {
    font-size: calc(var(--font) * 0.9);
}
  
    section.about p, section.credits p, section.credits ul {
      margin-top: 4rem;
    padding-left: 0;
padding-right:0;
}  
    section.credits ul ul{
        margin:0;
        padding-left:2em;
        padding-top:1em;
    }
    .social-sharing {
      
    height: calc(var(--general-left) * 1);
    width: calc(var(--general-left) * 2);
      max-width: 120px;
    max-height: 60px;  
    }
    section.cerca .fitxa > div {
        position:relative;
        background-color:#ffffff;
    }
    figure.wp-block-embed iframe {
    width: 100%;
    height: 25vw;
}
article.detail-fitxa header {
       margin-top: calc(var(--font) * 0);
    width: 25vw;
    left: 0;
    margin-left: 25vw;
    Background-color: #222;
    padding-top: calc(var(--font) * 4.4);
    padding-left: calc(var(--general-left) / 2);
    padding-right: calc(var(--general-left) / 2);
    height: 100vh;
    position: fixed;
}
    .fitxa .title-fitxa  {
        color:#fff;
    }
    
article.detail-fitxa .sobretaula {
    display:block;
}  
article.detail-fitxa .mobil {
    display:none;
}
    .fitxa .title-fitxa h3{
       padding-bottom:0.5em;
    }
   .detail-descripcio, .fitxa .detail-fitxa-tecnica {
       margin-left: 25vw;
    margin-right: auto;
    margin-top: 0;
   
   /* padding-left: calc(var(--general-left) * 0.5); */
    padding-right: calc(var(--general-left) * 0.5);
    overflow: auto;
    float: none;

    }
    article.fitxa .social-sharing {
        margin-left:calc(25vw + (var(--general-left) * 0.5));
    }
.detail-fitxa p, .fitxa .detail-fitxa h4, .fitxa .title-fitxa h3, .fitxa .title-fitxa p, .detail-fitxa p, .situacio, .info-tech, .documentacio {
      
 padding-left: calc(var(--general-left) * 0.5);
    
    padding-right: calc(var(--general-left) * 0.5);
        margin-right: auto;
        float: none;
        width: 100%;
    }
    .fitxa .detail-fitxa p {
        padding-left:0;
        padding-right:0;
    }
    
    .fitxa .title-fitxa p {
        padding-left:0!important;
        padding-right:0!important;
    }
.fitxa .embed-container iframe {
        top:calc(3.9rem + 1vw);
        left: calc(var(--general-left) * 0.5);
        width: calc(100%);
        height: 31vw;
    }
.detail-fitxa p, .fitxa .detail-fitxa h4, .fitxa .title-fitxa p, .detail-fitxa p, .situacio, .info-tech, .documentacio {
      padding-right: calc(var(--general-left) * 1.5);
    }

    .info-tech dl {
        display:block;
        line-height:140%;  
    }

    .fitxa .detail-fitxa-tecnica .documentacio dt {
        margin-top: calc(var(--font) / 1);
        margin-bottom:0;
    }
    .fitxa .detail-fitxa-tecnica .situacio dt {
        font-weight:700;
         margin-top: calc(var(--font) * 0.5);
        margin-bottom:0;
    }
    .fitxa .detail-fitxa-tecnica .situacio dd {
        margin-left:0;
    }

    .info-tech dt {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .info-tech dd {
       grid-column-start: 2;
      grid-column-end: 3;
    }
.detail-images {
    position: relative;
    overflow: hidden;
    margin-left:25vw ;
        width: calc(60vw - var(--general-left));
    color:#fff;
    padding-left: calc(var(--general-left) * 0.5);
}
    section.cerca .fitxa .detail-descripcio, .fitxa .detail-descripcio, .detail-images {
         width: calc(50vw);
        margin-left: 25vw;
            padding-right: var(--general-left);
    padding-left: calc(var(--general-left)* 0.5);
    }
    .fitxa .detail-descripcio h4,.fitxa  .detail-descripcio .video_peu,.fitxa .swiper-slide .footer-image{
         margin-left:0;
        padding-left:0;
        padding-top:0;
        
    }
    .fitxa .detail-descripcio .video_peu,.fitxa .swiper-slide .footer-image{
        font-size:1rem;
    }
     .detail-images .swiper-images {
    
        margin-right: calc(var(--general-left) * 2);
        float: none;
         width:calc(80% - (var(--general-left) * 2));
        position: relative;
          overflow-x:hidden;
    }
    section.context .documental, section.context.active .documental {
        left:0;
        margin-left: 50%;
    padding-bottom: 0;
    width: calc(100vw - (40vw + var(--general-left)));
        background-color:#0000;
    }
    
    .footer-image, .fitxa .detail-descripcio .video_peu {
        padding-bottom:calc(var(--font) * 2.5);
    }
.fitxa .swiper-images {
    width: 100%;
  /* padding-bottom: calc((80% - (var(--general-left) * 2)) * 0.6425); */
    box-sizing: content-box;
  /*  height: calc(var(--font) * 1); */
   height: calc((100vw - (40vw + var(--general-left))) * 0.66);
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
 .swiper-slide {
    flex-shrink: 0;
    width: calc(100%);
    }
#rfg-search-status.active {
  
    bottom: auto !important;
}
    .fitxa .title-fitxa h3 {
    line-height: 100%;
       font-size: calc(var(--font) * 1.2);
        text-transform: uppercase;
        padding-top: calc(var(--font) * 1.15);
        padding-left:0;
    }
    
  .fitxa .title-fitxa h3, .fitxa .title-fitxa p, .fitxa .detail-fitxa-tecnica dl, .fitxa .detail-fitxa-tecnica h4 {
      width:100%;
    }
    .fitxa .detail-fitxa .detail-fitxa-tecnica h4, .fitxa .detail-fitxa-tecnica .documentacio h4, .fitxa .detail-fitxa .detail-images h4 {
        padding-left: 0;
        padding-top:0;
        width: 100%;
        margin-top:0;
        padding-bottom:0.5rem;
        top:0;
    }

    .fitxa .detail-fitxa .detail-images h4 {
        padding-top:4rem;
    }
 
    
    .context .menu h3 {
        margin-left: var(--general-left);
        width: 11vw;
        margin-top: calc(var(--font) * 12);
        min-height: calc(2em * 0.85);
        z-index:2;
       
    } 
  
   .documentals-block {
    position:static;
    top: 0;
    width: 100%;
    z-index: -1;
}
    .context .menu .swiper-container-horizontal {
          position: relative;
    }
    .close-documental {
         right: var(--font);
  
    top: -50vh;
    z-index: 101;
    opacity: 0;
    transform: translateY(0%);
    transition: opacity 1s, top 0s 1s;
}

    section.cerca .fitxa.active .close, .fitxa.active .close,  .close-documental.active, .contingut-proposta.active .close  {
         top:calc(var(--font) * 0.75)!important;
    right: var(--font);
        left:auto;
    transform: translate(0% , 0%);
         transition: opacity 0.5s, top 0s;

    }
    
.context .menu .swiper-container-horizontal ul {
  
    z-index: 0;
    opacity: 0;
}
    
.context .menu .active .swiper-container-horizontal ul{
   
    z-index: 1;
    opacity: 1;
}
.swiper-pagination-fraction {
    left: calc(var(--general-left) - 24vw);
    margin-top: calc(var(--font)* 7);
    width: 4vw;
    text-align:right;
    padding-right:0.5rem;
} 
.context .menu .documentals-modul .title {
    font-size:calc(var(--font) * 1.2)

  

}
    .context .menu .documentals-modul .subtitol {
     font-size:calc(var(--font)* 0.6);
        margin-top: var(--font);
      
    }
 a.capitol-button {
    padding: 0.7em;
     width: auto;
     text-align:center;
     margin-top: var(--font);
     font-size:calc(var(--font) * 0.55);
     background-color: #dd5757;
     color:#fff;
    }
    .context .menu .swiper-button {
    
    top: var(--font);
    margin-top: 0;
    left: calc(12.5vw);
        background-color:#0000;
    color: #fff;
    transform: rotate(90deg) translate(0%, 50%);
        
}
    .context .menu .swiper-button-next{
        top:auto;
        bottom:var(--font);
    transform: rotate(90deg) translate(0%, 50%);        
    }
    
    section.context.active > header {
    top: 0;
   
    height: var(--window-height);
}
  
    .context .menu .swiper-container-initialized ul {
    height: calc(var(--window-height) - (var(--font) * 6.5));
    margin-top:0;
        width:auto;
}
.context .menu .swiper-button-next:after, .context .menu .swiper-button-prev:after {
    font-size: calc(var(--font) * 1.1);
}
    .swiper-container-vertical>.swiper-pagination-bullets {
    left: calc(0.5rem + 0.5vw);
    top: calc((var(--font) * 8) /* - (((var(--font) * 0.5) *1)) */);
    position: absolute;
        transform:none;
        z-index:1;
}
    
    .swiper-pagination-bullet {
        background-color:#fff;
        opacity:1;
    }
    .swiper-pagination-bullet-active {
    background: #dd5757;
}
.linker {
       position: absolute;
    z-index: 2;
    top: calc((var(--font) * 8) /* - (((var(--font) * 0.5) *1)) */);
    background-color: #0000;
    left: 0;
   width:25vw;
    padding: calc(var(--general-left) / 2);
    padding-top: 0;
    transform: translate(0,0%);
}
    .linker:hover {
        background-color:#0000;
    }
    .linker .title {
        color:#fff;
    }
    .context .menu .documentals-modul {
        overflow:visible;   
        background-color: #222;
            width: calc(100vw - (15vw + var(--general-left)));
    padding-left: 0;
    
    }
    .context .menu .documentals-modul .image {
    width: calc(50vw);
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 25vw;
    margin: 0;
    transform: translate(0%,-50%);
    z-index: 0;
    overflow: hidden;
    border: 0;
    transition: left 0s, opacity 0.6s;
}
    .credits-imatge {
        display:inline-block;
    }
  .context .menu .documentals-modul.swiper-slide-next .image {
    
    
    
}  
    
  .context .menu .documentals-modul.swiper-slide-active .image {
 
   
}   
     
  .context .menu .documentals-modul.swiper-slide-prev .image {
   
  
}   
    
    
.context .menu .la-vida-als-refugis h3, .context .menu .la-vida-en-los-refugios h3, .context .menu .life-shelters h3 {
        margin-left: var(--general-left);
    margin-top: calc(var(--font)* 15);
}
.context .menu .lendema h3,.context .menu .el-dia-siguiente h3,.context .menu .after-war h3{
     margin-left: var(--general-left);
    margin-top: calc(var(--font)* 17);
}
.la-vida-als-refugis .swiper-pagination-fraction {
    left: calc(var(--general-left) - 24vw);
    margin-top: calc(var(--font)* 9);
}
    .swiper-pagination-fraction {
    display:none;
    }
    
    .documental .content, .fitxa article.detail-fitxa {
        padding-left:0;
        position: static;
        padding:0;
    }
    
     .fitxa article.detail-fitxa {
    padding-top: calc(var(--font) * 6 );
             min-height: 100vh;
}
    .documental .content {
        padding-top:0;
    }
    
    
    .documental > header, .documental .component-masq-image {
        height: calc(var(--window-height) * 0.87);
        background-color:#222;
    }
    .documental > header {
        position:sticky;
    top:calc(0px - (var(--window-height) * 0.70));
         display:none;
        
    }
    .content:before  {
        height:auto;
         background-color:#222;
    }
    .documental .general-image {
   
    height: calc(var(--window-height) * 0.80);
  
}
    .documental .top-group {
       bottom:auto;
        top:calc(var(--window-height) * 0.70);
         
    padding: 0;
        
        
    }
    section.intro, section.context, section.about, section.credits {
        padding-bottom:0;
    }

    .credits .text-block , .about .text-block  {
        padding-top: calc(var(--font) * 6 + 6px);
        padding-left: calc(var(--general-left) * 4);
        padding-right: calc(var(--general-left) * 3);
    }
	
	
    .credits .text-block {
        padding-top: calc(var(--font) * 8 - 6px);
    }
    .credits .text-block p, .about .text-block p{
        font-size: clamp(1rem, 1vw, 1.3rem);
        line-height: 170%;
        max-width:1200px;
    }

    
     .documental .top-group .marges-header {
         width: calc(92vw - ((15vw + var(--general-left)) * 2));
        padding: 0;
        margin-left: calc(15vw + var(--general-left));
        margin-right: calc(var(--general-left) * 2);
        position: relative;
        background-color: #dd5757;
    }
    .marges-header div {
    width: 100%;
}
    .documental .wp-block-image, figure.wp-block-embed {
    margin-top: 0rem;
    margin-bottom: 3em;
}
    .documental .content p, .documental .content h4, .documental .content .aligncenter, .documental .content .alignleft, .documental .content .alignright, figure.wp-block-embed, .documental .intro div p {
       /*  padding-left: calc(30% - 1.5vw); */
        
    width: 100%;
    padding-left: calc( var(--general-left) * 0.5);
    padding-right: calc(var(--general-left) * 1.5);
        max-width: 1200px;
    }
    .documental .content h4 {
    font-size: calc(0.6rem + 1vw);
        line-height:120%;
        }
    
    .documental .content h4 strong {
    font-size: 1.2em;
        line-height:120%;
        }
    .documental .content .aligncenter {
       
        padding-top:3rem;
    }
    .wp-block-image img {
    width: 100%;
}
    .documental .content p {
    font-size:1.3vw;
        font-size:clamp(1rem, 1vw, 1.3rem);
        line-height:170%;
        margin-top:0;
        margin-bottom:2em;
    
        }
    .documental .top-group h3{
        font-size: 4.1vw;
        font-size:clamp(3rem,4vw, 7rem);
    }
    .fitxa h4, .documental h4 {
        margin-top: 3rem;
    }

.block-one.soft, h2.section-title.soft, .close-documental.soft, section.cerca .fitxa.active .close.soft {
 
}
    
    .documental .wp-block-image figcaption {
        padding-left: 0rem;
        padding-right: 0rem;
        font-size: 0.8em;
        line-height: 160%;
        left: 0;
        top: 0;
    }
    

    .documental .wp-block-image .aligncenter  figcaption {
       
        font-family: 'Source Sans Pro', sans-serif;
        top: calc(100% );
    }
    
    .documental .wp-block-image .alignright figcaption, .wp-block-image .alignleft figcaption {
        top: calc(100%);
    } 
     .documental .intro {
         background-color: #fff;
    padding-top: calc((var(--font) * 8));
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    }
    .documental .intro div {
        max-width:1800px;
    width: 100%;
   padding-left: 0;
        padding-right:0;
        margin-left: auto;
        margin-right: auto;
    }
     .documental .intro div p {
   
   
        padding-top:0em;
    color: #dd5757;
    font-weight: 700;
    line-height: 140%;
    font-size: 1.5vw;
    font-size: clamp(1rem, 1.4vw, 1.8rem);
}   
    .documental .content-wp{
    background-color: #fff;
    margin-bottom: 0vh;
    padding-bottom: calc(3 * var(--font));
    }
    .documental .top-group h3 {
       padding: 1.5rem;
        padding-top:0.5rem;
       background-color:#dd5757;
     
    }

    
    .documental .top-group p {
        font-size: calc(var(--font) * 0.8);
        font-size: clamp(1rem,1.5vw, 2rem);
       background-color:#dd5757;
        
       padding: 1.5rem;
        padding-bottom:0;
        margin: 0;
        margin: auto;
    }

    .documental .wp-block-image .alignright, .documental .wp-block-image .alignleft {
        padding-left: calc( var(--general-left) * 0.5);
        padding-right: calc(var(--general-left) * 1.5);
        float: none;
        width: 100%;
    }

    .context .menu li {
        padding-left: 0.5rem;
    padding-right: 0.5rem;
    }

    .context .menu span {
        padding-left: 0;
    }

    .context .menu .documentals-list {
       
    }
.context .swiper-container-initialized {
    left:25%;
    position: absolute;
    height:100%;
    background-color:#222;
    z-index:-1;
}
.context .menu > .active .swiper-container-initialized {
   z-index:1;
}
    
    .context .menu .content-swiper{
        background-color:#fff0;
        
       
    }
    .documental footer {
        width:100%;
        position:relative;
        background-color:#FFFFFF;
        
    }
   .documental .social {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 100%;
    right: calc((46vw - (15vw + var(--general-left))) / 2);
    transform: translate(-50%,-50%);
    width: 15vw;
    height: 15vw;
    background-color: #fff;
    z-index: -1;
}
    
    
    section.cerca #rfg-filters .cercador {
        width: calc(33vw + var(--general-left));
        z-index:5;
    }

    section.cerca.active .button-cerca {
     
    }
    section.cerca .titol-opcio-cerca {
        font-size:calc(0.7rem + 0.375vw);
        margin-top: calc(var(--font) * 0.5);
       
    }
p.tipologia-active, section.cerca .tipologies li, section.cerca .input-cerca, section.cerca .buttons input{
   font-size:calc(0.7rem + 0.375vw);
}
    section.cerca .intro {
        max-width: 100%;
    }

    section.cerca #rfg-filters .cercador {
        padding-top: calc(var(--font) * 11);
        padding-right: calc(var(--general-left) / 2);
        padding-left:calc(var(--general-left) * 2);
            box-shadow: 0 0 8rem #0002;
    }
    
    section.cerca .buttons {
  width:36%;
    left: calc(var(--general-left) * 2);
    background: #dd5757;
    color: #fff;
        font-size:inherit;
}
    section.cerca .buttons input {
    font-size: calc(0.6rem + 0.375vw);
        
    }
section.cerca .search-no-results.error {
   
    left: calc(var(--general-left) * 2);
    bottom:3vh;
    margin-right:calc((var(--general-left) / 2) + 0.5rem);
}
    
    /* LLISTA PROPOSTES ------------ */
    
    .llista-propostes {
        width:calc(25vw);
        left:-33vw;
        transition:left 0.6s;
    }
     .llista-propostes.active {
        box-shadow: 0 0 8rem #0002;
    }
     h3.proposal {
     width: 20vw;
    }

    .llista-propostes li:first-child .nom {
    padding-top: 0em;
}
    
.llista-propostes .nom {
    font-size: calc(var(--font) * 0.6);
}
.llista-propostes-descripcio {
    position: fixed;
    width: 25vw;
    height: calc(var(--window-height));
    left: -40vw;
    color: #fff;
    background-color: #222;
    padding: calc(var(--general-left) * 0.5);
    padding-top: calc(var(--font) * 6);
  z-index:1;
    top: calc(var(--font) * 0);
    overflow-y: auto;
        font-size: calc((var(--font) * 0.5));
}
    .input-propostes {
    font-size: calc((var(--font) * 0.5));
    }
.llista-propostes-descripcio.active .button {
    position:static;
    bottom:auto;
}
 .llista-propostes-descripcio.active {
    left: calc(25vw);
} 
    .ampliar {
        cursor: pointer;
        color: #fff;
        padding: 0.5em;
        line-height: 100%;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 2px;
        border: 1px solid #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-decoration: none;
        font-weight: 700;
        opacity: 1;
        margin-top:2em;
        transition: opacity 0.6s;
    }
    .ampliar:before { 
        display:none
        } 
    
    .contingut-proposta {
        left:auto;
        right: -50vw;
        width: 50vw;
        height: calc(var(--window-height));
        padding-top: calc((var(--font) * 7.5));
     position: fixed;
        top: 0;
        z-index:-1;
        color: #222;
        background-color: #fff;
        font-size: clamp(1rem, 1vw, 1.4rem);
        font-family: 'Merriweather', serif;
        line-height: 170%;
        overflow:auto;
        transition:right 0.6s;
        display:block;
        max-height: 300vh;
    }
  .contingut-proposta.active {
       margin-top:0;
        right: 0vw;
        transition:right 0.6s;
       
    }
    .llista-propostes-descripcio.active .close {
        display:none;
    }
    .llista-propostes-descripcio.active .contingut-proposta.active .close {
        display:block;
    }
    .contingut-proposta p, .contingut-proposta .wp-caption {
        margin-top:0;
        margin-bottom:2em;
		width:100%;
        max-width: 1200px;
    padding-left: calc( var(--general-left) * 0.5);
    padding-right: calc(var(--general-left) * 1.5);
    }
    section.cerca .input-cerca, p.tipologia-active {
    
    height: calc(var(--font) * 1);
}
    section.cerca.active .tipologies.active ul {
        margin-bottom:calc(var(--font) * 1);
    } 
   
    
}

@media (min-width: 1280px) {

    .global-help .help-content {
        height: 16vw;
        width:50%;
    }
	
	.inidcacions {
    text-transform: none;
    font-size: 0.7em;
    width: 40%;
	}
	
	
.ol-control button {
    
   
    padding-bottom: calc(var(--font) * 0.5) !important;
 
    font-size: calc(var(--font) * 1.5) !important;
    height: calc(var(--font) * 1.5) !important;
    width: calc(var(--font) * 1.5) !important;
    margin-bottom: calc(var(--font) / 1.5) !important;
    line-height: calc((85%)) !important;
   

}

.ol-zoom .ol-zoom-in {
    padding-bottom:  0 !important;
}
	
	
	
	

.about .text-block {
    padding-top: calc(var(--font) * 6 + 25px);
	}
.credits .text-block {
    padding-top: calc(var(--font) * 8);
	}
	
	section.text_intro h2 {
    margin-top: calc(var(--font)* 0.4);
	}
	
}
@media (min-width: 1400px) {
	

=======
    left: 60%;
    width: 40%;
	}
>>>>>>> Orangina/master
}
@media (min-width: 1800px) {
    
    figure.wp-block-embed iframe {
    width: 100%;
    height: 13vw;
}
    .inidcacions {
    text-transform: none;
    font-size: 0.7em;
    left: auto;
		width:100%;
    
	}
    .global-help .help-content {
        height: 15vw;
        width:50%;
    }

	
.about .text-block {
    padding-top: calc(var(--font) * 6 + 41px);
	}
.credits .text-block {
    padding-top: calc(var(--font) * 8);
	}
 

}
