@font-face {
    font-family: 'fontsereregular';
    src: url('fontsere-webfont.woff2') format('woff2'),
         url('fontsere-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}